*{
	padding: 0;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
}
.container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: .5fr 1fr 5fr 0.4fr;
	grid-template-areas:
	"tools tools"
	"nav nav"
	"content1 content2"
	"footer footer"
	;
	grid-gap: 0.2rem;
}

#tools{
	grid-area: tools;
	list-style-type: none;
	border-bottom: solid #F2F2F2 1px;
}
nav{
	grid-area: nav;

}
#content1{
	grid-area: content1;
}
#content2{
	grid-area: content2;
}
footer{
	background-color: white;
	grid-area: footer;
	height: 20%;
}


/* Header Section Start */
#tools header{
	display: grid;
	grid-template-rows: 1fr ;
	grid-template-columns: 1fr ;
	padding: 0 40px;
	height: 100%;
}

#tools ul{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-column: 2/3;
	list-style-type: none;
	grid-gap: 5px;
	padding: 0;
	margin-top:12px;
	justify-items: center;
	align-items: center;
}

#tools li{
	padding: 0 15px;
}
#tools li a{
	color: #646E8C;
}
#tools li a:hover{
	color: #011140;
}
/* Header Section End */



/* Nabar section Start */
.nav-container{
  display: grid;
  grid-template-columns: 10% 2fr 1fr 1fr;
  grid-template-rows: 1fr 0fr 0fr ;
	gap: 0% 0px;
	margin: 30px 60px;
	align-items: center;
}
/* Menu Items */
.nav-container ul{
	display: grid;
  grid-template-columns:  25px 40px 45px 95px 97px; ;
	grid-template-rows: 1fr;
  grid-column-gap: 7%;
	list-style: none;
}
.nav-container ul li a{
	text-decoration: none;
	color: #646E8C;
}
.nav-container ul li a:hover{
	color: #011140;
}
.phone{
	display: grid;
	justify-items: end;
	grid-template-columns: 1fr;
	text-decoration: none;
	color: #0583F2;
	transition: all .4s ease-in-out;
}
.phone:hover{
	transform: scale(1.1);
}

.nav-container button{
	width: 78%;
	margin-left: 22%;
	background-color: white;
	color: #0583F2;
	border: none;
	font-size: 1rem;
	padding: 10px;
	border-radius: 4px;
	box-shadow: 0px 10px 16px -2px rgba(0,0,0,0.69);
}
.nav-container .icon {
  display: none;
}

/* Nabar section End */




/* Content1 Section Start */
.infoSection{
	display: grid;
	width: 65%;
	margin-left: 20%;
	background-color: #0583F2;
	border-radius: 4px;
	color: white;
	text-align: center;
	align-items: end;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: .1fr .1fr .1fr .1fr;
}
.infoSection h2{
	font-size: 3rem;
	grid-area: 2/2/2/2;
	margin-bottom: 20px
}
.infoSection p{
	grid-area: 3/2/3/2;
}
/* Content1 Section End */


/* Form Styling Start */
.formSection{
	display: grid;
	width: 65%;
	border: solid .1rem #AEB2BF;
	margin-left: 15%;
	border-radius: 5px;
	text-align: center;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: 2.3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
	grid-row-gap: 10px;

}
.formSection img{
	grid-area: 2/2/3/2;
}
.name{
	grid-area: 3/2/4/2;
	border-radius: 4px;
	border: solid .5px #AEB2BF;
	color: #011140;
}
.email{
	grid-area: 4/2/5/2;
	border-radius: 4px;
	border: solid .5px #AEB2BF;
	color: #011140;
}
.genderOption{
	grid-area: 5/2/6/2;
	border-radius: 4px;
	border: solid .5px #AEB2BF;
	padding-top: 10px;

}
.formSection select{
	grid-area: 6/2/7/2;
	border-radius: 4px;
	border: solid .5px #AEB2BF;
}
.formSection button{
	background-color: #0583F2;
	grid-area: 8/2/9/2;
	border-radius: 4px;
	border: solid .5px #AEB2BF;
	color: white;
}
.formSection button:active{
	transform: translateY(4px);
}
.boxOption{
	grid-area: 9/2/10/2;
}
/* Form Styling End */


/* Footer Section Start */
footer .fab{
	color: #AEB2BF;
	font-size: 1.1rem;
}













@media (min-width: 1025px) and (max-width: 1199px){
	.nav-container{
  display: grid;
  grid-template-columns: 10% 9fr 5fr 1fr;
}
	/* Hamburger  */
	.nav-container ul{
		display: none;
	}
	.nav-container a.icon {
    display: block;
		text-align: right;
		font-size: 23px;
		color: #011140;
	}
}
/* Small screens, laptops  */
@media(min-width: 769px) and (max-width: 1024px){
	.nav-container{
  display: grid;
  grid-template-columns: 10% 8fr 5fr 1fr;
}
	.nav-container ul{
		display: none;
	}
	.nav-container a.icon {
    display: block;
		text-align: right;
		font-size: 23px;
		color: #011140;
	}
}

@media(min-width: 550px) and (max-width: 768px){
	.nav-container{
  display: grid;
  grid-template-columns: 45% 11fr 2fr 0fr;
}
	.nav-container ul{
		display: none;
	}
	.nav-container a.icon {
    display: block;
		text-align: right;
		font-size: 23px;
		color: #011140;
	}
	.phone{
		display: none;
	}
	.container{
	grid-template-columns: 1fr;
	grid-template-rows: .1fr .2fr 1fr 0.4fr;
	grid-template-areas:
	"tools"
	"nav"
	"content1"
	"content2"
	"footer";
	}
	.infoSection{
		width: 70%;
		margin-top: 70px;
		margin-left:15%;
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-rows: .1fr .1fr .1fr .1fr;
	}
	#content2{
		width: 105%;
    margin-left: 0%;
		grid-template-columns: 1fr 4fr 1fr;
		grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
	}
}

