*{
	padding: 0;
	margin: 0;
}
.container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: .8fr 1.5fr 4fr 0.4fr;
	grid-template-areas:
	"tools tools"
	"nav nav"
	"content1 content2"
	"footer footer"
	;
	grid-gap: 0.2rem;
}

#tools{
	grid-area: tools;
	list-style-type: none;
	border-bottom: solid #F2F2F2 1px;
}
nav{
	grid-area: nav;

}
#content1{
	grid-area: content1;
}
#content2{
	grid-area: content2;
}
footer{
	background-color: white;
	grid-area: footer;
}


/* Header Section Start */
#tools header{
	display: grid;
	grid-template-rows: 1fr ;
	grid-template-columns: 1fr ;
	padding: 0 40px;
	height: 100%;
}

#tools ul{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-column: 2/3;
	list-style-type: none;
	grid-gap: 5px;
	padding: 0;
	margin-top:12px;
	justify-items: center;
}

#tools li{
	padding: 0 15px;
}
#tools li a{
	color: #646E8C;
}
#tools li a:hover{
	color: #011140;
}
/* Header Section End */



/* Nabar section Start */
.nav-container{
  display: grid;
  grid-template-columns: 10% 2fr 1fr 1fr;
  grid-template-rows: 1fr 0fr 0fr ;
	gap: 0% 0px;
	margin: 30px 60px;
}
/* Menu Items */
.nav-container ul{
	display: grid;
  grid-template-columns:  25px 40px 45px 95px 97px; ;
	grid-template-rows: 1fr;
  grid-column-gap: 7%;
	list-style: none;
}
.nav-container ul li a{
	text-decoration: none;
	color: #646E8C;
}
.nav-container ul li a:hover{
	color: #011140;
}
.phone{
	display: grid;
	justify-items: end;
	grid-template-columns: 1fr;
	text-decoration: none;
	color: #04BF9D;
	transition: all .4s ease-in-out;
}
.phone:hover{
	transform: scale(1.1);
}

.nav-container button{
	width: 78%;
	margin-left: 22%;
	background-color: white;
	color: #04BF9D;
}
.nav-container .icon {
  display: none;
}

/* Nabar section End */






/* Content1 Section Start */
.infoSection{
	width: 60%;
	height: 75%;
	background-color: aqua;
	margin-left: 20%;
	margin-top: 7%;
	text-align: center;
}
/* Content1 Section End */


/* Form Styling Start */
.formSection{
	width: 70%;
	height: 70%;
	background-color: green;
	border: solid .1rem #AEB2BF;
	margin-left: 15%;
	margin-top: 10%;
	border-radius: 5px;
	text-align: center;
}
/* Form Styling End */


/* Footer Section Start */
footer .fab{
	color: #AEB2BF;
	font-size: 1.1rem;
}











@media (min-width: 551px) and (max-width: 1199px){
	.nav-container{
  display: grid;
  grid-template-columns: 10% 9fr 3fr 1fr;
}
	/* Hamburger  */
	.nav-container ul{
		display: none;
	}
	.nav-container a.icon {
    display: block;
		text-align: right;
		font-size: 23px;
	}
}

/* Mobile */
@media only screen and (max-width: 550px){
	.container{
		grid-template-columns: 1fr;
		grid-template-rows: 0fr 1fr 2.4fr 2.4fr 0.7fr;
		grid-template-areas:
		"options"
		"nav"
		"content1"
		"content2"
		"footer";
	grid-gap: 0.2rem;
	}

	#tools{
		display: none;
	}
	.nav-container ul{
		display: none;
	}
	.nav-container a.icon {
    display: block;
		text-align: right;
		font-size: 23px;
	}
}
