*{
	padding: 0;
	margin: 0;
}
.container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.2fr 0.3fr 4fr 0.4fr;
	grid-template-areas:
	"tools tools"
	"nav nav"
	"content1 content2"
	"footer footer"
	;
	grid-gap: 0.2rem;
}

#tools{
	background-color: lightblue;
	grid-area: tools;
	list-style-type: none;
}
nav{
	background-color: lightcoral;
	grid-area: nav;
}
#content1{
	grid-area: content1;
}
#content2{
	grid-area: content2;
}
footer{
	background-color: white;
	grid-area: footer;
}

/* Content1 Section Start */
.infoSection{
	width: 60%;
	height: 75%;
	background-color: aqua;
	margin-left: 20%;
	margin-top: 7%;
	text-align: center;
}
/* Content1 Section End */


/* Form Styling Start */
.formSection{
	width: 70%;
	height: 70%;
	background-color: green;
	border: solid .1rem #AEB2BF;
	margin-left: 15%;
	margin-top: 10%;
	border-radius: 5px;
	text-align: center;
}
/* Form Styling End */


/* Footer Section Start */
footer .fab{
	color: #AEB2BF;
	font-size: 1.1rem;
}













@media only screen and (max-width: 550px){
	.container{
		grid-template-columns: 1fr;
		grid-template-rows: 0fr 0.4fr 2.4fr 2.4fr 0.7fr;
		grid-template-areas:
		"options"
		"nav"
		"content1"
		"content2"
		"footer";
	grid-gap: 0.2rem;
	}

	#tools{
		display: none;
	}
}
